<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<header>
    <div class='jumbotron-fluid' style="background-color:lightblue;">
        <div>
            <br>
            <span class="vertical"> Stylist</span>
            <span class="vertical">Client</span>
            <span class="vertical">Assignment</span>
            <span class="vertical">System</span>
        </div>
    </div>
</header>

<body>
    <div class='container'>
        @RenderBody()
    </div>
</body>
<footer style="margin-left:100px; margin-top:15%; ">
    @Html.ActionLink("Back to Index", "Index", "Home")
</footer>