@{
    Layout = "_Layout";
}
@using HairSalon.Models;

<h1>Welcome to the Stylist-Client Assignment System, or S.C.A.S., <span font="system">Claire</span>!</h1>
<p>@Html.ActionLink("See all Clients", "Index", "clients")</p>
<p>@Html.ActionLink("See all Stylists", "Index", "stylists")</p>